{% extends "base.html" %}

{% block content %}
<h2>Inventory</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Units</th>
            <th>Price/Unit</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        {% for ing in ingredients %}
        <tr>
            <td>{{ ing.name }}</td>
            <td>{{ ing.quantity }}</td>
            <td>{{ ing.units }}</td>
            <td>{{ ing.price_per_unit }}</td>
            <td>
                <a href="{% url 'ingredient-update' ing.pk %}" class="btn btn-sm btn-success">
                    Update
                </a>

                <a href="{% url 'ingredient-delete' ing.pk %}" class="btn btn-sm btn-danger">
                    Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'ingredient-add' %}" class="btn btn-primary mb-3">
    Add Ingredient
</a>

{% endblock %}
